# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# others
*.jpg
Debug/
*.bmp
*.png
stdafx.cpp
sztx.vcxproj
sztx.vcxproj.filters
sztx.vcxproj.user
targetver.h
introduction.txt
